/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-slide-0 .fl-slide-foreground {
    display: flex !important;
    min-height: 600px !important;
    align-items: center !important;
    justify-content: space-around !important;
    flex-wrap: wrap;
}
.product-detail-layout-6 .product-swatch .img-responsive img {
    display: block;
}
.product-detail-layout-6  .product-box .button-wrapper {
    display: block!important;
}
.carpet-homeslider .fl-slide-photo-wrap {
    padding-left: 0 !important;
}

.fl-slide-0 .fl-slide-foreground .fl-slide-content-wrap {
    flex: 0 0 65%;
}

.fl-slide-0 .fl-slide-foreground .fl-slide-photo-wrap {
    flex: 0 0 35%;
}

.fl-slide-0 .fl-slide-bg-photo:after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    min-height: 600px;
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    overflow: auto !important;
    position: relative;
}

.ca-featured-slider .fl-slide-content {
    padding: 30px!important;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.fl-page-bar .storename {
    margin-bottom: 0;
}

.product-detail-layout-5 .button-wrapper .button {
    width: 44% !important;
}

.storename li .phone a:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}


/* 
.fa, .fab {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */


/* Navigation Bar Border */

.fl-page-nav-right .fl-page-header-wrap {
    border-bottom: 8px solid #823333;
}

.wpMega_menu>div>.wp-megamenu-sub-menu {
    background: #823333 !important;
}


/* Navigation Bar Border End */


/* Top Bar Text Design */

.fl-page-bar-text-1 {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.31px;
    line-height: 15px;
}

#menu-top-bar-menu {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.31px;
    line-height: 15px;
}


/* Top Bar Text Design End */


/* Mega Menu ShortCode */

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    color: #2d2d2d !important;
}

header .fl-row-content {
    position: relative;
}

.choose-trim.full-width-strech {
    text-align: center;
}

@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX( -5px) rotate( 45deg);
        -ms-transform: translateX( -5px) rotate( 45deg);
        transform: translateX( -5px) rotate( 45deg);
        border-color: #2d2d2d;
    }
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 36px 10px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}

header .fl-row-content {
    position: relative;
}


/* Slider css or Home Page Css */

.carpet-homeslider .fl-slide-photo-wrap {
    padding-left: 300px;
}

.carpet-homeslider .fl-slide-photo-wrap .fl-slide-photo {
    text-align: left;
}

.fl-module-content-slider .bx-wrapper {
    margin-bottom: 0;
}

.fl-module-content-slider .bx-wrapper .bx-pager {
    bottom: 75px;
    padding: 0;
    z-index: 5;
    width: 75%;
}

.fl-module-content-slider .bx-wrapper .bx-pager .bx-pager-item a {
    background: #fff;
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
}

.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:focus,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: transparent;
}

.banner-slider {
    position: relative;
    z-index: 0;
}

.banner-slider .fl-row-content-wrap:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background: #F4F0F0;
    z-index: 1;
}

.banner-slider .fl-row-content-wrap>.fl-row-content {
    position: relative;
    z-index: 2;
}

.ca-homegallery .uabb-photo-gallery-item {
    position: relative;
}

.ca-homegallery .uabb-photo-gallery-caption {
    position: absolute;
    bottom: 20px;
    left: 30px;
    background: none;
    padding-left: 0px;
    padding-bottom: 0px;
}

.services-callout .fl-callout .fl-callout-photo .fl-photo-img {
    max-height: 50px;
    width: auto;
}

.services-callout .fl-callout .fl-callout-title:after {
    content: "";
    display: block;
    margin: 7px auto;
    background: #823333;
    height: 7px;
    max-width: 150px;
    width: 100%;
}

.home-callout {
    background-color: #fff;
}


/* Other Featured Slider CSS */

.ca-featured-slider .fl-slide-foreground {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
}

.ca-featured-slider .fl-slide-content {
    padding-left: 80px !important;
}

.ca-featured-slider .fl-slide-photo .fl-slide-photo-img {
    width: 100%;
}

.ca-featured-slider .bx-wrapper .bx-controls {
    max-width: 1420px;
    margin: 0 auto;
}

.ca-featured-slider .bx-wrapper .bx-pager {
    width: 30%;
    bottom: 20px;
}

.featured-firsttitle {
    color: #28292A;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1.64px;
    line-height: 15px;
}

.featured-boldtitle {
    font-family: Raleway;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0 !important;
}

.featured-desctitle {
    color: #28292A;
    font-family: Raleway;
    font-size: 30px;
    line-height: 31px;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}

.featured-desctitle:after {
    content: "";
    display: block;
    border-bottom: 7px solid #823333;
    max-width: 150px;
    margin-top: 20px;
}


/* Home Page Featured slider CSS */

.cahome-featured-slider .fl-slide-content-wrap {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cahome-featured-slider .fl-slide-content {
    padding-left: 80px !important;
}

.cahome-featured-slider .featured-firsttitle {
    color: #28292A;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1.64px;
    line-height: 15px;
    margin-bottom: 0px !important;
}

.cahome-featured-slider .featured-boldtitle {
    font-family: Raleway;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0 !important;
}

.cahome-featured-slider .featured-desctitle {
    color: #28292A;
    font-family: Raleway;
    font-size: 30px;
    line-height: 31px;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}

.cahome-featured-slider .featured-desctitle:after {
    content: "";
    display: block;
    border-bottom: 7px solid #823333;
    max-width: 150px;
    margin-top: 20px;
}


/* Header Menu */

.fl-page-nav ul.sub-menu {
    border-color: #823333;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li {
    display: inline-block;
    float: none;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
    padding: 15px 15px;
    color: #28292A;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.42px;
    line-height: 15px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    color: #823333;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li:last-child>a {
    margin-right: 0;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.btn-link {
    /* margin-left: 15px; */
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.btn-link>a {
    font-weight: 600;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 2px;
    border: 1px solid #00375c;
    background: #00375c;
    color: #fff;
    padding: 8px 40px;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.btn-link>a:hover {
    background: #823333;
    border-color: #823333;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f107";
    margin-top: -0.7px;
    font-size: 120%;
}

ul.navbar-nav li.mega-menu .sub-menu {
    padding: 0 !important;
    border: 1px solid #e7e3e3;
}

.fl-page-nav li.mega-menu ul.sub-menu li a {
    padding: 0;
    margin: 0;
}

ul.navbar-nav li.mega-menu .sub-menu .yawp_wim_title {
    display: none;
}

.flooring-mega-menu>.fl-module-content {
    margin-right: -1px !important;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-labels {
    width: 20%;
    margin-top: 20px;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label:after {
    font-family: 'FontAwesome';
    content: "\f054";
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    position: relative;
    top: -1px;
    right: 10px !important;
    width: auto !important;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label:hover:after,
.flooring-mega-menu .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label.fl-tab-active:after {
    opacity: 1;
    visibility: visible;
    right: -10px !important;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-panels {
    width: 80%;
    background: #fff;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-panel-content>p {
    margin: 0;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .fl-heading a {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 20px !important;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .fl-heading>a .fl-heading-text {
    color: #fff;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .linkFullWidth {
    height: 100%;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .linkFullWidth .fl-module-content {
    height: 100%;
    margin: 0px;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .linkFullWidth .fl-module-content * {
    height: 100%;
}

.flooring-mega-menu .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .fl-heading a span {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Category Page Tabs */

.inner-tabs .uabb-tabs {
    position: relative;
}

.inner-tabs .uabb-tabs:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 25%;
    width: 100%;
    height: 100%;
    background: #f4f0f0;
}

.inner-tabs .uabb-tabs .uabb-tabs-nav {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.inner-tabs .uabb-tabs .uabb-tabs-nav ul li h6 {
    opacity: 0.6;
}

.inner-tabs .uabb-tabs .uabb-tabs-nav ul li.uabb-tab-current h6 {
    opacity: 1;
}

.inner-tabs .uabb-tabs .uabb-content-wrap {
    padding: 40px 150px;
    margin-bottom: 60px;
}

.tabcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tabcontent .tabcontent-left,
.tabcontent .tabcontent-right {
    width: 45%;
    display: inline-block;
}

.tabcontent .tabcontent-right {
    margin-bottom: -150px;
}

.tabcontent .tabcontent-right img {
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 25px -25px 0 #823333;
}

.tabcontent .tabcontent-left {
    line-height: 23px !important;
    padding-right: 100px;
}

.gform_wrapper .top_label input.large.datepicker,
.gform_wrapper .top_label input.medium.datepicker,
.gform_wrapper .top_label input.small.datepicker {
    width: 100% !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0 !important;
}

.active-gallery-modal .fl-row-content-wrap>.row {
    margin: 0;
}

.active-gallery-modal .product-box .fl-button {
    padding: 15px 35px;
    display: block;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
}

.product-detail-layout-5 #product-images-holder {
    float: right;
    width: calc(100% - 0px);
}

.product-detail-layout-5 .toggle-image-thumbnails {
    width: 100px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.product-swatch {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
}

.product-detail-layout-5>.fl-post>.fl-post-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}

.product-detail-layout-5 #product-colors {
    order: 3;
}

.product-detail-layout-5 .product-variations {
    margin: 30px 0 0;
}

.product-detail-layout-5>.fl-post>.fl-post-content>.row {
    position: relative;
    padding-top: 50px;
}

.product-detail-layout-5>.fl-post>.fl-post-content>.row>.product-swatch,
.product-detail-layout-5>.fl-post>.fl-post-content>.row>.product-box {
    position: relative;
    z-index: 1;
}

.product-detail-layout-5>.fl-post>.fl-post-content>.row:before,
.product-detail-layout-5>.fl-post>.fl-post-content>.row:after {
    content: "";
    display: block;
    width: 1000%;
    height: 100%;
    background: #f4f0f0;
    position: absolute;
    top: 0;
    left: 50%;
    max-height: 360px;
}

.product-detail-layout-5>.fl-post>.fl-post-content>.row:after {
    left: auto;
    right: 50%;
}

.product-box .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-box h1 {
    font-size: 35px;
    line-break: normal;
}

.product-detail-layout-5 .button-wrapper {
    margin-top: 20px;
}

.footer-top a {
    color: #fff;
}

.footer-top a:hover {
    color: #823333;
}

.gform_wrapper .gfield.timeEstimate .clear-multi .ginput_container.gfield_time_hour input[type="text"] {
    float: left;
}

.gform_wrapper .gfield.timeEstimate .clear-multi .ginput_container.gfield_time_hour label {
    clear: both;
}

.gform_wrapper .gfield.timeEstimate .clear-multi .ginput_container,
.gform_wrapper .gfield.timeEstimate .clear-multi .ginput_container select {
    max-width: none !important;
    width: auto;
}

.responsive-menu-additional-content a {
    color: #fff;
}

@media (max-width:1199px) {
    .banner-slider>.fl-row-content-wrap {
        padding-left: 200px;
    }
    .page-title-row+.fl-row>.fl-row-content-wrap {
        padding-left: 5%;
        margin-right: 15%;
    }
    .copyrights-row .menu>li>a {
        padding: 10px 7px;
    }
}

@media (max-width:1080px) {
    .fl-page-header-logo-col {
        padding: 0 60px;
    }
    .responsive-menu-additional-content .phone.retailer span,
    #responsive-menu-container #responsive-menu-additional-content {
        color: #fff !important;
    }
    .copyrights-row .fl-row-content>.fl-col-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .copyrights-row .fl-row-content>.fl-col-group>.fl-col {
        width: 100%;
        text-align: center;
    }
    .copyrights-row .fl-row-content>.fl-col-group>.fl-col:first-child {
        order: 3;
        padding-top: 10px;
    }
    .copyrights-row .fl-row-content>.fl-col-group>.fl-col .fl-menu,
    .copyrights-row .fl-row-content>.fl-col-group>.fl-col .fl-menu .menu {
        text-align: center;
        float: none;
    }
    .copyrights-row .fl-row-content>.fl-col-group>.fl-col .fl-menu li {
        display: inline-block;
        vertical-align: top;
    }
}

@media (max-width:1040px) {
    .ca-featured-slider .fl-slide .fl-slide-photo-wrap {
        width: 39%;
        float: left;
    }
    .ca-featured-slider .fl-slide .fl-slide-content-wrap {
        width: 59%;
        float: right;
    }
}

@media (max-width:999px) {
    .banner-slider>.fl-row-content-wrap {
        padding-left: 0;
    }
}

@media (max-width:992px) {
    .page-title-row+.fl-row>.fl-row-content-wrap {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
    }
    .inner-tabs .uabb-tabs .uabb-content-wrap {
        padding-left: 0;
        padding-right: 0;
    }
    .inner-tabs .uabb-tabs .uabb-content-wrap .section .uabb-tab-acc-title {
        border-bottom: 1px solid #fff;
    }
    .inner-tabs .uabb-tabs .uabb-content-wrap .section.uabb-content-current .uabb-tab-acc-title .uabb-acc-icon {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    .inner-tabs .uabb-tabs .uabb-content-wrap .section .uabb-content {
        overflow: hidden;
        padding: 50px 30px 30px;
    }
    .inner-tabs .tabcontent .tabcontent-right img {
        max-width: 100%;
    }
    .tabcontent .tabcontent-left {
        padding-right: 30px;
    }
    .tabcontent .tabcontent-right {
        margin-bottom: 0;
    }
    .carpet-style-row .fl-row-content>.fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col.center-vertical {
        order: -1;
    }
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col {
        order: 0;
    }
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col .infobox-photo-right .uabb-infobox-left-right-wrap,
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col .infobox-icon-right .uabb-infobox-left-right-wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        text-align: left;
    }
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col .infobox-photo-right .uabb-infobox-left-right-wrap .uabb-module-content,
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col .infobox-icon-right .uabb-infobox-left-right-wrap .uabb-module-content {
        margin-right: 20px;
        margin-left: 0;
    }
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col .infobox-right {
        text-align: left;
    }
}

@media (max-width:768px) {
    .fl-slide-0 .fl-slide-mobile-photo {
        display: none !important;
    }
    .fl-slide-0 .fl-slide-bg-photo {
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        min-height: 600px;
    }
    .fl-slide-0 .fl-slide-foreground .fl-slide-photo-wrap {
        flex: 0 0 100%;
        display: block !important;
    }
    .fl-slide-0 .fl-slide-foreground .fl-slide-content-wrap {
        flex: 0 0 100%;
        padding: 50px;
    }
    .ca-featured-slider .fl-slide-foreground,
    .ca-featured-slider .fl-slide-foreground .fl-slide-content-wrap {
        width: 100% !important;
        text-align: left;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0px !important;
    }
    #responsive-menu-container * {
        color: #fff !important;
    }
    #responsive-menu-additional-content a span:before {
        content: "\f095";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        display: inline-block;
        text-decoration: inherit;
        vertical-align: middle;
        margin-right: 5px;
    }
    .ca-featured-slider .fl-slide-content {
        padding-left: 30px !important;
    }
    .ca-featured-slider .bx-pager {
        display: none;
    }
    .review-section .uabb-heading {
        text-align: left !important;
    }
    .fl-col-small {
        max-width: 100% !important;
    }
    .footer-top .fl-photo,
    .footer-top .fl-rich-text,
    .footer-top .fl-rich-text *,
    .footer-top .fl-button-wrap,
    .footer-top .storename {
        text-align: center !important;
    }
    .footer-top>.fl-row-content-wrap {
        padding-bottom: 0;
    }
    .footer-menu-rows .fl-row-content>.fl-col-group {
        padding: 0 20px;
    }
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col .infobox-photo-right .uabb-infobox-left-right-wrap,
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col .infobox-icon-right .uabb-infobox-left-right-wrap {
        flex-direction: column-reverse;
    }
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col .infobox-photo-right .uabb-infobox-left-right-wrap .uabb-module-content,
    .carpet-style-row .fl-row-content>.fl-col-group>.fl-col .infobox-icon-right .uabb-infobox-left-right-wrap .uabb-module-content {
        margin-right: 0px;
    }
}

@media (max-width:767px) {
    .fl-page-bar .fl-page-bar-row .col-md-6.text-right {
        text-align: center;
    }
    button#responsive-menu-button {
        top: 75px;
    }
    .inner-tabs .uabb-tabs .uabb-content-wrap .section.uabb-content-current .uabb-content {
        padding: 30px 20px;
    }
    .tabcontent .tabcontent-left {
        width: 100%;
        margin-bottom: 60px;
        padding-right: 0;
    }
    .tabcontent .tabcontent-right {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

@media (max-width:570px) {
    button#responsive-menu-button {
        top: 70px;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 90% !important;
    }
}

@media (max-width:420px) {
    .ca-homegallery .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .fl-page-bar-nav>li>a {
        padding: 2px 5px;
    }
    .product-detail-layout-5 .button-wrapper a.button {
        width: 100% !important;
    }
}